.video-js {
    overflow: hidden;
}

.video-js .vjs-control-bar {
    background: linear-gradient(to bottom,transparent 25%, black);
}

.video-js .vjs-play-progress {
    background-color: rgb(99, 102, 241);
}