@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  min-height: 100%;
  scrollbar-color: gray;
  scrollbar-width: thin;
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="2" cy="2" r=".5"/></svg>');
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.postToc li {
  list-style-type: none;
}

.postToc > li > a {
  font-weight: bold;
  color: #b91c1c;
}

.postToc > ul > li > a {
  font-weight: bold;
}
